@using MVCPortfolio.Models.ValueObjects
@model WeatherModel
@{
    ViewData["Title"] = "Weather";
}
<form asp-action="SearchView" asp-controller="Home" method="get">
    <div class="did-floating-label-content">
        <input class="did-floating-input" type="text" placeholder=" " autocomplete="off" name="location" />
        <label class="did-floating-label">Search City...</label>
    </div>
</form>

@if (Model.Location != null) {
        <h2>Weather for <span class="green-highlight">@Model.Location</span></h2>
}
<div id="weather-container">
    <img class="weather-icon" src="@Model.ImgSrc" alt="weathericon"/>
    <p class="weather-text">@Model.WeatherDescription</p>
    <p class="weather-degree">@(Model.Degree)°C</p>
    <p><span class="weather-humid">@(Model.Humidity)%</span> Humidity</p>    
</div>